<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreatePrefabricatedBeams.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CreatePrefabricatedBeams.Properties.Settings>
            <setting name="BeamElementIds" serializeAs="String">
                <value />
            </setting>
            <setting name="BeamHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BeamWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoadSurfaceThikness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlabThikness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoadLineElemIds1" serializeAs="String">
                <value />
            </setting>
            <setting name="RoadLineElemIds2" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectionLineId" serializeAs="String">
                <value />
            </setting>
        </CreatePrefabricatedBeams.Properties.Settings>
    </userSettings>
</configuration>